*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* slider left */

.slider-left{
  width: 85%;
  height: 300px;
}

.slider-left .item{
  display: none;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider-left .item.active{
  display: block;
}

.slider-left img{
  width: 100%;
}

.slider-left .content{
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-align: right;
  padding: 20px;
}

.slider-left .content .title{
  font-size: 20px;
}

/* slider right */

.slider-right{
  width: 15%;
  height: 300px;
  position: relative;
}

.slider-right .item{
  width: 100%;
  height: calc(300px / 5);
}

.slider-right .item img{
  width: 100%;
  height: 100%;
}

.slider-right .item.active{
  border: 2px solid white;
}

/* arrow */

.prev, .next{
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  margin: 5px;
  position: absolute;
}

.prev{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.next{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.prev:hover, .next:hover{
  background-color: white;
  cursor: pointer;
}